@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

body  {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.caption {
  position: relative;
  overflow: hidden;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  width: 1000px;
  min-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

.text {
  text-align: center;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  top: 70px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  color: ghostwhite;
  transform: translateY(100%);
  transition: transform .35s ease-out;
}

.caption:hover .text {
  transform: translateY(0);
}

.caption-title {
  text-align: left;
  margin: 0;
  padding: 0 0 10px;
  transform: translateY(calc(-100% - 20px));
  transition: transform .35s ease-out;
}

button {
  padding: 1em;
  margin: .2em;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 1.5em;
  transition: 1.5s;
  background-color: ghostwhite;
  position: relative;
}

button:hover {
  background-color: cornflowerblue;
  color: ghostwhite;
}

